html, body{
    overflow-x:hidden;
    margin: 0;
    padding: 0;
}

.grid-main {
    height: calc(100vh - 27px);
}

.plugin-action{
    display: inline-block;
    color: steelblue;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
}
.plugin-action:hover{
    text-decoration: underline;
}

.bottom-bar{
    background: #f8f8f8;
    padding: 10px;
    margin-top: 10px;
}
.bottom-bar button{
    padding: 5px 20px;
    margin-right: 10px;
}
.bottom-bar a{
    font-size: 12px;
    margin-right: 10px;
}

.top-area{
    padding: 10px 20px;
    border: 1px solid #ccc;
    background: #efefef;
    margin-bottom: 15px;
}

.top-area .top-ele{
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
}

.top-area .top-ele .new-action{
    display: inline-block;
    width:80px;
    height: 26px;
    border: 1px solid #ccc;
    background: #e8e8e8;
    padding: 0 4px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}

.top-area .top-ele .new-action:hover{
    opacity: 0.7;
}